
body{
  background-color: #303B45;
}
img{
  border-radius: 5%;
  margin-bottom: 2em;
}

h1{
  font-family: 'Special Elite';
  font-size: 4em;
  color: #9FD97C;
}

h3{
  font-family: 'Special Elite';
}
